.u-section-1 .u-sheet-1 {
  min-height: 258px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 182px;
  margin: 38px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 109px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 85px;
}

.u-section-2 .u-text-1 {
  margin: 28px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 98px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0;
}.u-section-4 .u-sheet-1 {
  min-height: 115px;
}

.u-section-4 .u-text-1 {
  margin: 43px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 115px;
}

.u-section-5 .u-text-1 {
  margin: 43px 0;
}.u-section-6 .u-sheet-1 {
  min-height: 3046px;
}

.u-section-6 .u-form-1 {
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  height: 2986px;
  width: 570px;
  margin: 30px auto;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-form-group-5 {
  margin-left: 0;
}

.u-section-6 .u-form-group-6 {
  margin-left: 0;
}

.u-section-6 .u-form-group-7 {
  margin-left: 0;
}

.u-section-6 .u-form-group-8 {
  margin-left: 0;
}

.u-section-6 .u-form-group-9 {
  margin-left: 0;
}

.u-section-6 .u-form-group-10 {
  margin-left: 0;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 10px;
  grid-template-columns: repeat(3, auto);
}

.u-section-6 .u-back-image-1 {
  height: 120px;
}

.u-section-6 .u-back-image-2 {
  height: 120px;
}

.u-section-6 .u-back-image-3 {
  height: 120px;
}

.u-section-6 .u-form-group-11 {
  margin-left: 0;
}

.u-section-6 .u-form-group-12 {
  margin-left: 0;
}

.u-section-6 .u-form-group-13 {
  margin-left: 0;
}

.u-section-6 .u-form-group-14 {
  margin-left: 0;
}

.u-section-6 .u-form-group-15 {
  margin-left: 0;
}

.u-section-6 .u-form-group-16 {
  margin-left: 0;
}

.u-section-6 .u-form-group-17 {
  margin-left: 0;
}

.u-section-6 .u-form-group-18 {
  margin-left: 0;
}

.u-section-6 .u-form-group-19 {
  margin-left: 0;
}

.u-section-6 .u-form-group-20 {
  margin-left: 0;
}

.u-section-6 .u-form-group-21 {
  margin-left: 0;
}

.u-section-6 .u-form-group-22 {
  margin-left: 0;
}

.u-section-6 .u-form-group-23 {
  margin-left: 0;
}

.u-section-6 .u-form-group-24 {
  margin-left: 0;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
}

.u-section-6 .u-image-1 {
  height: 381px;
}

.u-section-6 .u-line-1 {
  height: 0;
}

.u-section-6 .u-form-group-28 {
  margin-left: 0;
}

.u-section-6 .u-passive-icon-1 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-6 .u-passive-icon-2 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-6 .u-passive-icon-3 {
  display: none;
  height: 24px;
  width: 24px;
}

.u-section-6 .u-passive-icon-4 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-6 .u-passive-icon-5 {
  display: inline;
  height: 24px;
  width: 24px;
}

.u-section-6 .u-form-group-29 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-form-group-30 {
  margin-left: 0;
}

.u-section-6 .u-icon-1 {
  height: 16px;
  width: 16px;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
}

.u-section-6 .u-btn-3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-form-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 69px;
}

.u-section-7 .u-text-1 {
  margin: 20px 0;
}.u-section-8 .u-sheet-1 {
  min-height: 135px;
}

.u-section-8 .u-text-1 {
  margin: 53px 0;
}