 .u-section-1 {
  background-image: linear-gradient(#b8aed9, #fcd1cf);
}

.u-section-1 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 129px;
  margin-bottom: 13px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 105px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 24px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 790px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 11px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 428px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 42px auto 0;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 110px;
  margin: 28px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 37px;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  background-image: none;
  margin: 30px auto 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 790px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-1 .u-form-1 {
  height: 733px;
  width: 510px;
  margin: 16px 0 -46px;
}

.u-section-1 .u-input-1 {
  height: 47px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  height: 47px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  height: 47px;
}

.u-section-1 .u-input-4 {
  height: 47px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  height: 47px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  height: 47px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-input-8 {
  height: 47px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-input-9 {
  height: 47px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-input-10 {
  height: 47px;
}

.u-section-1 .u-btn-2 {
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 651px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    width: 414px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 651px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 12px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: 338px;
  }

  .u-section-1 .u-text-3 {
    width: 338px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }
}