.u-section-1 {
    background-image: linear-gradient(#ddd6f3, rgba(252, 209, 207, 0.75));
}

.u-section-1 .u-sheet-1 {
    min-height: 320px;
}

.u-section-1 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 30px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 268px;
}

.u-section-1 .u-container-layout-1 {
    padding: 0;
}

.u-section-1 .u-image-1 {
    width: 184px;
    height: 184px;
    margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 268px;
}

.u-section-1 .u-container-layout-2 {
    padding: 24px 30px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 3.125rem;
    margin: 0;
}

.u-section-1 .u-text-2 {
    line-height: 1;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    font-size: 2.375rem;
    text-transform: uppercase;
    margin: 13px 0 0;
}

.u-section-1 .u-text-3 {
    font-size: 1.375rem;
    margin: 29px 0 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 275px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-bottom: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 253px;
    }

    .u-section-1 .u-layout-cell-2 {
        background-position: 50% 50%;
        min-height: 253px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3rem;
        width: auto;
        margin-top: 2px;
    }

    .u-section-1 .u-text-2 {
        font-size: 2.125rem;
        width: auto;
        margin-top: 16px;
    }

    .u-section-1 .u-text-3 {
        width: auto;
        margin-top: 22px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 214px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-bottom: 10px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 182px;
    }

    .u-section-1 .u-image-1 {
        height: auto;
        margin-top: 19px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 182px;
    }

    .u-section-1 .u-container-layout-2 {
        padding: 0;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
        margin-top: 19px;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.75rem;
        margin-top: 14px;
    }

    .u-section-1 .u-text-3 {
        font-size: 1.125rem;
        margin-top: 11px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 412px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-bottom: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 214px;
    }

    .u-section-1 .u-image-1 {
        width: 187px;
        height: 187px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 154px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 10px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 8px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 14px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 428px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 38px;
        margin-bottom: 27px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 198px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 166px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.75rem;
        margin-top: 12px;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.5rem;
        margin-top: 17px;
    }

    .u-section-1 .u-text-3 {
        font-size: 0.875rem;
        margin-top: 15px;
    }
}
.u-section-2 {
    background-image: linear-gradient(rgba(252, 209, 207, 0.75), #ddd6f3);
}

.u-section-2 .u-sheet-1 {
    min-height: 336px;
}

.u-section-2 .u-list-1 {
    margin: 48px 0;
}

.u-section-2 .u-repeater-1 {
    grid-template-columns:
        calc(25% - 37.5px) calc(25% - 37.5px) calc(25% - 37.5px)
        calc(25% - 37.5px);
    min-height: 241px;
    grid-gap: 50px;
}

.u-section-2 .u-list-item-1 {
    background-image: linear-gradient(#ddd6f3, #756c90);
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 5px 5px 20px 0 rgba(81, 76, 97, 0.4);
}

.u-section-2 .u-container-layout-1 {
    padding: 10px 20px;
}

.u-section-2 .u-icon-1 {
    width: 103px;
    background-image: none;
    height: 103px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 21px auto 0;
    padding: 26px;
}

.u-section-2 .u-text-1 {
    text-transform: none;
    font-size: 1.25rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    margin: 23px 0 0;
}

.u-section-2 .u-list-item-2 {
    background-image: linear-gradient(#ddd6f3, #756c90);
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 5px 5px 20px 0 rgba(81, 76, 97, 0.4);
}

.u-section-2 .u-container-layout-2 {
    padding: 10px 20px;
}

.u-section-2 .u-icon-2 {
    width: 103px;
    background-image: none;
    height: 103px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 21px auto 0;
    padding: 26px;
}

.u-section-2 .u-text-2 {
    font-size: 1.25rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    margin: 23px 0 0;
}

.u-section-2 .u-list-item-3 {
    background-image: linear-gradient(#ddd6f3, #756c90);
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 5px 5px 20px 0 rgba(81, 76, 97, 0.4);
}

.u-section-2 .u-container-layout-3 {
    padding: 10px 20px;
}

.u-section-2 .u-icon-3 {
    width: 103px;
    background-image: none;
    height: 103px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 21px auto 0;
    padding: 26px;
}

.u-section-2 .u-text-3 {
    text-transform: none;
    font-size: 1.25rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    margin: 23px 0 0;
}

.u-section-2 .u-list-item-4 {
    background-image: linear-gradient(#ddd6f3, #756c90);
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 5px 5px 20px 0 rgba(81, 76, 97, 0.4);
}

.u-section-2 .u-container-layout-4 {
    padding: 10px 20px;
}

.u-section-2 .u-icon-4 {
    width: 103px;
    background-image: none;
    height: 103px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 21px auto 0;
    padding: 26px;
}

.u-section-2 .u-text-4 {
    text-transform: none;
    font-size: 1.25rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    margin: 23px 0 0;
}

@media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
        min-height: 316px;
    }

    .u-section-2 .u-list-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-repeater-1 {
        min-height: 251px;
    }

    .u-section-2 .u-text-1 {
        font-size: 1.125rem;
    }

    .u-section-2 .u-text-2 {
        font-size: 1.125rem;
    }

    .u-section-2 .u-text-3 {
        font-size: 1.125rem;
    }

    .u-section-2 .u-text-4 {
        font-size: 1.125rem;
    }
}

@media (max-width: 991px) {
    .u-section-2 .u-repeater-1 {
        grid-gap: 32px 32px;
        min-height: 544px;
        grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    }
}

@media (max-width: 767px) {
    .u-section-2 .u-repeater-1 {
        grid-gap: 19px 19px;
        min-height: 545px;
        grid-template-columns: calc(50% - 9.5px) calc(50% - 9.5px);
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-1 {
        font-size: 1.25rem;
    }

    .u-section-2 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-2 {
        font-size: 1.25rem;
    }

    .u-section-2 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-3 {
        font-size: 1.25rem;
    }

    .u-section-2 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-2 .u-text-4 {
        font-size: 1.25rem;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
        min-height: 797px;
    }

    .u-section-2 .u-list-1 {
        margin-top: 17px;
        margin-bottom: 23px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-2 .u-repeater-1 {
        grid-gap: 22px 22px;
        min-height: 763px;
        grid-template-columns: 100%;
    }

    .u-section-2 .u-icon-1 {
        width: 84px;
        height: 84px;
        margin-top: 0;
        padding: 12px;
    }

    .u-section-2 .u-text-1 {
        font-size: 1rem;
        width: auto;
        margin-top: 16px;
    }

    .u-section-2 .u-icon-2 {
        width: 84px;
        height: 84px;
        margin-top: 0;
        padding: 12px;
    }

    .u-section-2 .u-text-2 {
        font-size: 1rem;
        width: auto;
        margin-top: 16px;
    }

    .u-section-2 .u-icon-3 {
        width: 84px;
        height: 84px;
        margin-top: 0;
        padding: 12px;
    }

    .u-section-2 .u-text-3 {
        font-size: 1rem;
        width: auto;
        margin-top: 16px;
    }

    .u-section-2 .u-icon-4 {
        width: 84px;
        height: 84px;
        margin-top: 0;
        padding: 12px;
    }

    .u-section-2 .u-text-4 {
        font-size: 1rem;
        width: auto;
        margin-top: 16px;
    }
}
.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 216px;
}

.u-section-3 .u-text-1 {
    width: 644px;
    font-size: 1.875rem;
    margin: 0 auto;
}

.u-section-3 .u-text-2 {
    margin: 22px 0 30px;
}

@media (max-width: 991px) {
    .u-section-3 .u-text-1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-text-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-text-1 {
        width: 340px;
        font-size: 1.25rem;
    }
}
.u-section-4 {
    background-image: none;
}

.u-section-4 .u-sheet-1 {
    min-height: 55px;
}

.u-section-4 .u-text-1 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    width: 246px;
    margin: 13px auto;
}

@media (max-width: 1199px) {
    .u-section-4 .u-text-1 {
        font-size: 1.25rem;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-text-1 {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-text-1 {
        font-size: 1.25rem;
        margin-top: 18px;
    }
}
.u-section-5 {
    background-image: linear-gradient(#ddd6f3, rgba(252, 209, 207, 0.75));
}

.u-section-5 .u-sheet-1 {
    min-height: 284px;
}

.u-section-5 .u-list-1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.u-section-5 .u-repeater-1 {
    grid-gap: 10px 10px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 247px;
}

.u-section-5 .u-container-layout-1 {
    padding: 10px;
}

.u-section-5 .u-group-1 {
    min-height: 248px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
}

.u-section-5 .u-container-layout-2 {
    padding: 30px;
}

.u-section-5 .u-text-1 {
    font-weight: 700;
    width: 335px;
    margin: 0 auto;
}

.u-section-5 .u-text-2 {
    font-weight: 700;
    width: 381px;
    font-size: 1rem;
    margin: 20px auto 0;
}

.u-section-5 .u-container-layout-3 {
    padding: 10px;
}

.u-section-5 .u-group-2 {
    min-height: 248px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
}

.u-section-5 .u-container-layout-4 {
    padding: 30px;
}

.u-section-5 .u-text-3 {
    font-weight: 700;
    width: 335px;
    margin: 0 auto;
}

.u-section-5 .u-text-4 {
    font-weight: 700;
    width: 381px;
    font-size: 1rem;
    margin: 20px auto 0;
}

@media (max-width: 1199px) {
    .u-section-5 .u-repeater-1 {
        min-height: 203px;
    }

    .u-section-5 .u-group-1 {
        height: auto;
    }

    .u-section-5 .u-group-2 {
        height: auto;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-repeater-1 {
        grid-template-columns: 100%;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
        min-height: 566px;
    }

    .u-section-5 .u-repeater-1 {
        min-height: 524px;
    }

    .u-section-5 .u-text-1 {
        width: 300px;
    }

    .u-section-5 .u-text-2 {
        width: 300px;
        font-size: 0.875rem;
    }

    .u-section-5 .u-text-3 {
        width: 300px;
    }

    .u-section-5 .u-text-4 {
        width: 300px;
        font-size: 0.875rem;
    }
}
.u-section-6 {
    background-image: linear-gradient(rgba(252, 209, 207, 0.75), #ddd6f3);
}

.u-section-6 .u-sheet-1 {
    min-height: 349px;
}

.u-section-6 .u-layout-wrap-1 {
    margin: 0;
}

.u-section-6 .u-layout-cell-1 {
    min-height: 315px;
}

.u-section-6 .u-container-layout-1 {
    padding: 18px;
}

.u-section-6 .u-group-1 {
    min-height: 274px;
    width: 532px;
    height: auto;
    margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
    padding: 19px 30px;
}

.u-section-6 .u-text-1 {
    font-size: 1.125rem;
    margin: 1px 0 0;
}

.u-section-6 .u-layout-cell-2 {
    min-height: 350px;
}

.u-section-6 .u-container-layout-3 {
    padding: 18px 14px;
}

.u-section-6 .u-group-2 {
    min-height: 197px;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
}

.u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-6 .u-text-2 {
    font-weight: 700;
    font-size: 1.5rem;
    width: 189px;
    margin: 0 auto;
}

.u-section-6 .u-btn-1 {
    margin: 45px auto 0;
}

@media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
        min-height: 450px;
    }

    .u-section-6 .u-layout-wrap-1 {
        position: relative;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-6 .u-layout-cell-1 {
        min-height: 260px;
    }

    .u-section-6 .u-group-1 {
        width: 434px;
        height: auto;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 289px;
    }

    .u-section-6 .u-group-2 {
        height: auto;
    }

    .u-section-6 .u-text-2 {
        margin-left: 129px;
        margin-right: 129px;
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
        min-height: 353px;
    }

    .u-section-6 .u-layout-cell-1 {
        min-height: 279px;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 14px;
        padding-right: 14px;
    }

    .u-section-6 .u-group-1 {
        min-height: 236px;
        width: 688px;
        margin-left: 0;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-6 .u-text-2 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
        min-height: 558px;
    }

    .u-section-6 .u-layout-wrap-1 {
        margin-top: 11px;
        margin-bottom: 11px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-6 .u-layout-cell-1 {
        min-height: 304px;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-6 .u-group-1 {
        min-height: 250px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-6 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-6 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-6 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
        min-height: 639px;
    }

    .u-section-6 .u-layout-wrap-1 {
        margin-top: 18px;
        margin-bottom: 14px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-6 .u-layout-cell-1 {
        min-height: 373px;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    .u-section-6 .u-group-1 {
        min-height: 331px;
        width: 320px;
        margin-right: auto;
        margin-left: 0;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 230px;
    }

    .u-section-6 .u-container-layout-3 {
        padding-left: 9px;
        padding-right: 9px;
        padding-bottom: 10px;
    }

    .u-section-6 .u-group-2 {
        width: 319px;
        margin-right: 3px;
        margin-left: 0;
    }
}
.u-section-7 {
    background-image: none;
}

.u-section-7 .u-sheet-1 {
    min-height: 90px;
}

.u-section-7 .u-layout-wrap-1 {
    margin: 4px 0;
}

.u-section-7 .u-layout-cell-1 {
    min-height: 83px;
}

.u-section-7 .u-container-layout-1 {
    padding: 0;
}

.u-section-7 .u-icon-1 {
    width: 64px;
    background-image: none;
    height: 64px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    padding: 10px;
}

.u-section-7 .u-layout-cell-2 {
    min-height: 83px;
}

.u-section-7 .u-container-layout-2 {
    padding: 0;
}

.u-section-7 .u-text-1 {
    font-size: 1.75rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    width: 168px;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
        min-height: 58px;
    }

    .u-section-7 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-7 .u-layout-cell-1 {
        min-height: 68px;
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 68px;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-layout-cell-1 {
        min-height: 52px;
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 100px;
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
        min-height: 80px;
    }

    .u-section-7 .u-layout-wrap-1 {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-7 .u-layout-cell-1 {
        min-height: 65px;
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 65px;
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-layout-wrap-1 {
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-7 .u-layout-cell-1 {
        min-height: 73px;
    }

    .u-section-7 .u-icon-1 {
        margin-top: 5px;
        margin-left: -1px;
        margin-right: -1px;
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 73px;
    }

    .u-section-7 .u-text-1 {
        margin-top: 20px;
    }
}
.u-section-8 {
    background-image: linear-gradient(#ddd6f3, rgba(252, 209, 207, 0.75));
}

.u-section-8 .u-sheet-1 {
    min-height: 440px;
}

.u-section-8 .u-group-1 {
    min-height: 381px;
    height: auto;
    margin: 30px 0;
}

.u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.u-section-8 .u-layout-wrap-1 {
    width: 1074px;
    margin: 0 auto;
}

.u-section-8 .u-layout-cell-1 {
    min-height: 345px;
}

.u-section-8 .u-container-layout-2 {
    padding: 0;
}

.u-section-8 .u-image-1 {
    width: 213px;
    height: 213px;
    margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
    min-height: 345px;
}

.u-section-8 .u-container-layout-3 {
    padding: 0 30px;
}

.u-section-8 .u-text-1 {
    margin: 23px 604px 0 0;
}

.u-section-8 .u-text-2 {
    margin: 23px 0 0;
}

@media (max-width: 1199px) {
    .u-section-8 .u-sheet-1 {
        /* min-height: 506px; */
    }

    .u-section-8 .u-group-1 {
        min-height: 446px;
        margin-right: initial;
        margin-left: initial;
        height: auto;
    }

    .u-section-8 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 21px;
    }

    .u-section-8 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-8 .u-layout-cell-1 {
        min-height: 340px;
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 340px;
    }

    .u-section-8 .u-text-1 {
        margin-right: 519px;
    }
}

@media (max-width: 991px) {
    .u-section-8 .u-sheet-1 {
        min-height: 589px;
    }

    .u-section-8 .u-group-1 {
        min-height: 529px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-8 .u-container-layout-1 {
        padding-bottom: 22px;
    }

    .u-section-8 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-8 .u-layout-cell-1 {
        min-height: 473px;
    }

    .u-section-8 .u-image-1 {
        width: 163px;
        height: 163px;
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 473px;
    }

    .u-section-8 .u-text-1 {
        width: auto;
        margin-top: 16px;
        margin-right: 328px;
    }

    .u-section-8 .u-text-2 {
        width: auto;
        margin-top: 16px;
    }
}

@media (max-width: 767px) {
    .u-section-8 .u-layout-cell-1 {
        min-height: 205px;
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 448px;
    }

    .u-section-8 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-8 .u-text-1 {
        margin-top: 19px;
        margin-left: auto;
        margin-right: auto;
    }

    .u-section-8 .u-text-2 {
        margin-top: 27px;
    }
}

@media (max-width: 575px) {
    .u-section-8 .u-layout-cell-1 {
        min-height: 129px;
    }

    .u-section-8 .u-layout-cell-2 {
        min-height: 100px;
    }
}
.u-section-9 {
    background-image: none;
}

.u-section-9 .u-sheet-1 {
    min-height: 82px;
}

.u-section-9 .u-layout-wrap-1 {
    margin: 7px 0;
}

.u-section-9 .u-layout-cell-1 {
    min-height: 68px;
}

.u-section-9 .u-container-layout-1 {
    padding: 0;
}

.u-section-9 .u-icon-1 {
    width: 64px;
    background-image: none;
    height: 64px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin: 2px auto 0;
    padding: 12px;
}

.u-section-9 .u-layout-cell-2 {
    min-height: 68px;
}

.u-section-9 .u-container-layout-2 {
    padding: 0;
}

.u-section-9 .u-text-1 {
    font-size: 1.75rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    width: 168px;
    margin: 17px auto 0;
}

@media (max-width: 1199px) {
    .u-section-9 .u-sheet-1 {
        min-height: 70px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 56px;
    }

    .u-section-9 .u-layout-cell-2 {
        min-height: 56px;
    }
}

@media (max-width: 991px) {
    .u-section-9 .u-sheet-1 {
        min-height: 81px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-top: 8px;
        margin-bottom: 0;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 66px;
    }

    .u-section-9 .u-layout-cell-2 {
        min-height: 66px;
    }
}

@media (max-width: 767px) {
    .u-section-9 .u-sheet-1 {
        min-height: 80px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-bottom: 8px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 64px;
    }

    .u-section-9 .u-icon-1 {
        margin-top: 0;
    }

    .u-section-9 .u-layout-cell-2 {
        min-height: 64px;
    }

    .u-section-9 .u-text-1 {
        margin-top: 0;
    }
}
.u-section-10 {
    background-image: linear-gradient(rgba(252, 209, 207, 0.75), #ddd6f3);
}

.u-section-10 .u-sheet-1 {
    min-height: 739px;
}

.u-section-10 .u-group-1 {
    width: 800px;
    min-height: 678px;
    background-image: none;
    height: auto;
    margin: 26px auto 35px;
}

.u-section-10 .u-container-layout-1 {
    padding: 30px 23px;
}

.u-section-10 .u-text-1 {
    font-weight: 700;
    font-size: 1.375rem;
    margin: 0 auto;
}

.u-section-10 .u-table-1 {
    margin: 43px 7px 0;
}

.u-block-5649-12 {
    height: 46px;
}

.u-section-10 .u-table-cell-1 {
    background-image: none;
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
}

.u-section-10 .u-table-cell-2 {
    background-image: none;
    margin-top: 0;
}

.u-section-10 .u-table-cell-3 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
}

.u-section-10 .u-table-cell-4 {
    font-weight: 700;
    margin-top: 0;
}

.u-section-10 .u-table-cell-5 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
}

.u-section-10 .u-table-cell-6 {
    margin-top: 0;
}

.u-section-10 .u-table-cell-7 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
    background-image: none;
}

.u-section-10 .u-table-cell-8 {
    margin-top: 0;
    font-weight: 700;
    background-image: none;
}

.u-section-10 .u-table-cell-9 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
}

.u-section-10 .u-table-cell-10 {
    margin-top: 0;
}

.u-section-10 .u-table-cell-11 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
}

.u-section-10 .u-table-cell-12 {
    margin-top: 0;
}

.u-section-10 .u-table-cell-13 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
}

.u-section-10 .u-table-cell-14 {
    margin-top: 0;
}

.u-section-10 .u-table-cell-15 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
    background-image: none;
}

.u-section-10 .u-table-cell-16 {
    margin-top: 0;
    background-image: none;
}

.u-section-10 .u-table-cell-17 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    font-weight: 400;
}

.u-section-10 .u-table-cell-18 {
    margin-top: 0;
}

.u-section-10 .u-table-cell-19 {
    width: 124px;
    margin-right: 626px;
    margin-left: 1px;
    margin-bottom: 0;
    background-image: none;
    font-weight: 400;
}

.u-section-10 .u-table-cell-20 {
    margin-top: 0;
    background-image: none;
}

.u-block-5649-37 {
    height: 46px;
}

@media (max-width: 1199px) {
    .u-section-10 .u-group-1 {
        height: auto;
    }

    .u-section-10 .u-table-1 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-10 .u-sheet-1 {
        min-height: 846px;
    }

    .u-section-10 .u-group-1 {
        width: 720px;
        margin-bottom: 14px;
    }
}

@media (max-width: 767px) {
    .u-section-10 .u-sheet-1 {
        min-height: 873px;
    }

    .u-section-10 .u-group-1 {
        width: 540px;
        margin-bottom: 16px;
    }

    .u-section-10 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-10 .u-sheet-1 {
        min-height: 1089px;
    }

    .u-section-10 .u-group-1 {
        width: 340px;
    }
}
.u-section-11 {
    background-image: linear-gradient(#ddd6f3, rgba(252, 209, 207, 0.75));
}

.u-section-11 .u-sheet-1 {
    min-height: 436px;
}

.u-section-11 .u-layout-wrap-1 {
    width: 1140px;
    margin: 18px 0;
}

.u-section-11 .u-layout-cell-1 {
    min-height: 400px;
}

.u-section-11 .u-container-layout-1 {
    padding: 30px;
}

.u-section-11 .u-group-1 {
    min-height: 159px;
    height: auto;
    width: 394px;
    margin: 0 auto;
}

.u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
}

.u-section-11 .u-text-1 {
    font-size: 1.25rem;
    margin: 30px 26px 0;
}

.u-section-11 .u-layout-cell-2 {
    min-height: 400px;
}

.u-section-11 .u-container-layout-3 {
    padding: 30px;
}

.u-section-11 .u-map-1 {
    height: 340px;
    margin: 0;
}

@media (max-width: 1199px) {
    .u-section-11 .u-sheet-1 {
        min-height: 366px;
    }

    .u-section-11 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-11 .u-layout-cell-1 {
        min-height: 330px;
    }

    .u-section-11 .u-group-1 {
        width: 332px;
        height: auto;
    }

    .u-section-11 .u-text-1 {
        width: auto;
    }

    .u-section-11 .u-layout-cell-2 {
        min-height: 330px;
    }

    .u-section-11 .u-map-1 {
        margin-right: initial;
        margin-left: initial;
    }
}

@media (max-width: 991px) {
    .u-section-11 .u-sheet-1 {
        min-height: 289px;
    }

    .u-section-11 .u-layout-wrap-1 {
        width: 720px;
    }

    .u-section-11 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-11 .u-group-1 {
        min-height: 202px;
        width: 240px;
    }

    .u-section-11 .u-text-1 {
        font-size: 1.125rem;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-11 .u-layout-cell-2 {
        min-height: 253px;
    }
}

@media (max-width: 767px) {
    .u-section-11 .u-sheet-1 {
        min-height: 461px;
    }

    .u-section-11 .u-layout-wrap-1 {
        width: 540px;
    }

    .u-section-11 .u-layout-cell-1 {
        min-height: 200px;
    }

    .u-section-11 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-11 .u-group-1 {
        min-height: 132px;
        width: 373px;
    }

    .u-section-11 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-11 .u-layout-cell-2 {
        min-height: 325px;
    }

    .u-section-11 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-11 .u-sheet-1 {
        min-height: 341px;
    }

    .u-section-11 .u-layout-wrap-1 {
        width: 340px;
    }

    .u-section-11 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-11 .u-group-1 {
        width: 320px;
    }

    .u-section-11 .u-layout-cell-2 {
        min-height: 205px;
    }
}
.u-section-12 {
    background-image: none;
}

.u-section-12 .u-sheet-1 {
    min-height: 82px;
}

.u-section-12 .u-text-1 {
    font-size: 1.625rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    font-weight: normal;
    width: 332px;
    margin: 26px 404px;
}

@media (max-width: 1199px) {
    .u-section-12 .u-text-1 {
        margin-left: 304px;
        margin-right: 304px;
    }
}

@media (max-width: 991px) {
    .u-section-12 .u-text-1 {
        margin-left: 194px;
        margin-right: 194px;
    }
}

@media (max-width: 767px) {
    .u-section-12 .u-sheet-1 {
        min-height: 80px;
    }

    .u-section-12 .u-text-1 {
        margin: 24px auto 0;
    }
}

@media (max-width: 575px) {
    .u-section-12 .u-text-1 {
        width: auto;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom: 23px;
    }
}
.u-section-13 {
    background-image: linear-gradient(rgba(252, 209, 207, 0.75), #ddd6f3);
}

.u-section-13 .u-sheet-1 {
    min-height: 667px;
}

.u-section-13 .u-layout-wrap-1 {
    margin: 18px 0 43px;
}

.u-section-13 .u-layout-cell-1 {
    min-height: 606px;
}

.u-section-13 .u-container-layout-1 {
    padding: 0;
}

.u-section-13 .u-group-1 {
    width: 280px;
    min-height: 104px;
    height: auto;
    margin: 0 290px 0 0;
}

.u-section-13 .u-container-layout-2 {
    padding-left: 10px;
}

.u-section-13 .u-icon-1 {
    width: 64px;
    background-image: none;
    height: 64px;
    margin: 0 auto 0 0;
    padding: 10px;
}

.u-section-13 .u-text-1 {
    font-size: 1.875rem;
    margin: -50px auto 14px 78px;
}

.u-section-13 .u-text-2 {
    margin: 8px 17px 0;
}

.u-section-13 .u-form-1 {
    height: 424px;
    width: 570px;
    margin: 0 0 -7px;
}

.u-section-13 .u-form-group-2 {
    margin-left: 0;
}

.u-section-13 .u-form-group-4 {
    margin-left: 0;
}

.u-section-13 .u-layout-cell-2 {
    min-height: 606px;
}

.u-section-13 .u-container-layout-3 {
    padding: 0;
}

.u-section-13 .u-group-2 {
    width: 312px;
    min-height: 104px;
    height: auto;
    margin: 0 auto 0 0;
}

.u-section-13 .u-container-layout-4 {
    padding-left: 10px;
}

.u-section-13 .u-icon-2 {
    width: 64px;
    background-image: none;
    height: 64px;
    margin: 20px 238px 0 0;
    padding: 10px;
}

.u-section-13 .u-text-3 {
    font-size: 1.875rem;
    margin: -50px 30px 0 auto;
}

.u-section-13 .u-text-4 {
    margin: 8px 15px 0;
}

.u-section-13 .u-btn-2 {
    margin: 25px auto 0;
}

@media (max-width: 1199px) {
    .u-section-13 .u-sheet-1 {
        min-height: 461px;
    }

    .u-section-13 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-13 .u-layout-cell-1 {
        min-height: 500px;
    }

    .u-section-13 .u-group-1 {
        margin-right: 190px;
        height: auto;
    }

    .u-section-13 .u-text-2 {
        margin-right: 0;
        margin-left: 26px;
    }

    .u-section-13 .u-form-1 {
        width: 470px;
    }

    .u-section-13 .u-layout-cell-2 {
        min-height: 631px;
    }

    .u-section-13 .u-group-2 {
        height: auto;
    }

    .u-section-13 .u-text-4 {
        width: auto;
        margin-left: 17px;
        margin-right: 17px;
    }
}

@media (max-width: 991px) {
    .u-section-13 .u-sheet-1 {
        min-height: 701px;
    }

    .u-section-13 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-13 .u-group-1 {
        margin-right: 80px;
    }

    .u-section-13 .u-form-1 {
        width: 360px;
    }

    .u-section-13 .u-layout-cell-2 {
        min-height: 657px;
    }

    .u-section-13 .u-group-2 {
        margin-right: 48px;
    }

    .u-section-13 .u-text-4 {
        margin-left: 9px;
        margin-right: 9px;
    }

    .u-section-13 .u-btn-2 {
        margin-right: 68px;
        margin-left: 68px;
    }
}

@media (max-width: 767px) {
    .u-section-13 .u-sheet-1 {
        min-height: 1025px;
    }

    .u-section-13 .u-layout-cell-1 {
        min-height: 627px;
    }

    .u-section-13 .u-group-1 {
        margin-right: 260px;
    }

    .u-section-13 .u-form-1 {
        margin-bottom: 0;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-13 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-13 .u-btn-2 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 575px) {
    .u-section-13 .u-sheet-1 {
        min-height: 1050px;
    }

    .u-section-13 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-13 .u-group-1 {
        margin-right: 60px;
    }

    .u-section-13 .u-text-1 {
        font-size: 1.5rem;
    }

    .u-section-13 .u-layout-cell-2 {
        min-height: 238px;
    }

    .u-section-13 .u-group-2 {
        margin-right: auto;
    }

    .u-section-13 .u-text-3 {
        font-size: 1.5rem;
    }

    .u-section-13 .u-text-4 {
        margin-left: 7px;
        margin-right: 7px;
    }
}
